<!DOCTYPE html>
<html>
  <%- include('./partials/head'); %>
  <body>
    <%- include('./partials/header'); %>
    <main>
      <div class="box smallbox">
        <div class="center-align margin20v">
          <h2>¿ya te registraste? <br><strong>Ingresa con tu email</strong></h2>
          <a href="/users/login" class="button">Ingresar</a>
        </div>
        <div class="center-align margin20v">
          <h2>¿aun no estas registrado? <br><strong>Create un usuario</strong></h2>
          <a href="/users/register" class="button">Registrate</a>
        </div>
      </div>
    </main>
  </body>
</html>
