<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head'); %>
<body>
    <%- include('./partials/header'); %>
    <main>
        <div class="box smallbox h2mod">
            <h2>Ingresa tus datos:</h2>
            <form action="/users/login" method="POST" id="formulario">
                <div class="left-align margin20v">
                    
                    <div class="input-field">
                        <label>Email</label>
                        <input type="email" id="email" name="email" class="input-neutral">
                        <small id="email" class="error-msg hide-error-msg">error mesagge</small>
                    </div>
                    
                    <div class="input-field">
                        <label>Contrase単a</label>
                        <input type="password" id="contrase単a" name="contrase単a" class="input-neutral">
                        <small  id="contrase単a" class="error-msg hide-error-msg">error mesagge</small>
                    </div>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="recordarme"><span>Recordarme</span>
                </div>
                
                <div class="center-align margin20v"><button type="submit" value="Enviar" class="button">Ingresar</button></div>
                <div class="link">
                    <a href="/users/register">Registrarme</a>
                </div>
            </form>
        </div>
    </main>
    <script src="/javascripts/login.js" type="text/javascript"></script>
</body>
</html>
