<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head'); %>
<body>
    <main>
        <div class="smallbox">
            <h2>Ingresa tus datos:</h2>
            <form action="/login" method="POST" id="formulario" onsubmit=" return validaciones()">
                <div class="left-align">
                    
                    <div class="input">
                        <label>Email</label>
                        <div><input type="email" class="email" id="email" name="email"></div>
                        <small>error mesagge</small>
                    </div>
                    
                    <div class="input">
                        <label>Contraseña</label>
                        <div><input type="password" id="password" name="contraseña" aria-label="Username"></div>
                        <small>error mesagge</small>
                    </div>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="recordarme"><span>Recordarme</span>
                </div>
                
                <div class="center-align"><button type="submit" value="Enviar" class="button">Ingresar</button></div>
                <div class="link">
                    <a href="/users/register">Registrarme</a>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
