<!DOCTYPE html>
<html>
  <%- include('./partials/head'); %>
  <body>
    <main>
      <div class="box smallbox">
        <div class="center-align">
          <h2>¡Felicitaciones! <br><strong>Ya sos parte de nuestra comunidad</strong></h2>
          <a href="/" class="button">Volver al inico</a>
        </div>
      </div>
    </main>
  </body>
</html>
