<!DOCTYPE html>
<html>
  <%- include('./partials/head'); %>
  <body>
    <main>
      <div class="box smallbox">
        <div class="center-align">
          <h2>¡Bienvenido! <br><strong>Es bueno volver a verte</strong></h2>
          <a href="/" class="button">Volver al inico</a>
        </div>
      </div>
    </main>
  </body>
</html>
