/* ///////////////////////////////// SELECTORES UNIVERSALES ///////////////////////////////// */

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #52B788;
}

main{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ///////////////////////////////// TODOS ///////////////////////////////// */

.smallbox{
  width: 400px;
}

.box{
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

/* ///////////////////////////////// INDEX ///////////////////////////////// */

.center-align{
  text-align: center;
  margin: 20px 0;
}

.link{
  font-size: 12px;
  text-align: center;
}

.link a{
  color: #52B788;
}

/* ///////////////////////////////// LOGIN Y REGISTER ///////////////////////////////// */

.input-field{
  margin: 15px 0;
}

.input-field label{
  margin-left: 5px;
}

.input-field small{
  margin-left: 5px;
}

.input-neutral{
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: gainsboro;
  border: solid 1px gainsboro;
}

.input-neutral-selected{
  background-color: gainsboro;
  border: solid 2px gray;
}

.input-neutral input{
  width: 100%;
  border: none;
  outline: none;
  background-color: gainsboro;
}

.input-success{
  border: solid 2px #52B788;
  background-color: #B7E4C7;
}

.input-success input{
  background-color: #B7E4C7;
}

.input-error-selected{
  border: solid 2px #EF233C;
}

.input-error{
  border: solid 2px #EF233C;
  background-color: #F9B3BB;
}

.input-error input{
  background-color: #F9B3BB;
}

.input-date{
  margin: 5px 3px 0 0;
  padding: 11px;
  border: none;
  border-radius: 10px;
  background-color: gainsboro;
}

.button{
  background-color: #52B788;
  padding: 10px 25px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.h2mod h2{
  padding: 0px;
  margin: 0px;
}

.left-align{
  text-align: left;
  margin: 20px 0;
}

.checkbox{
  display: flex;
}

/* ///////////////////////////////// REGISTER ///////////////////////////////// */

.largebox{
  width: 800px;
}

.doublebox{
  display: flex;
}

.leftbox{
  width: 100%;
  padding-right: 15px;
}


.rightbox{
  width: 100%;
  padding-left: 15px;
}

/* ///////////////////////////////// LOGIN ///////////////////////////////// */


















/* .subbox h2{
  padding: 15px 0;
} */



/* .subbox input{
  display: block;
  width: 100%;
  margin: 10px 0;
  border: none;
  outline: none;
  padding: 10px 5px;
  border-radius: 10px;
  background-color: gainsboro;
} */



