/* ///////////////////////////////// SELECTORES UNIVERSALES ///////////////////////////////// */


html {
  width: 100%;
  height: 100%;
  display: table;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #52B788;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

main{
  box-sizing: border-box;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ///////////////////////////////// TODOS ///////////////////////////////// */

.smallbox{
  width: 400px;
}

.box{
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

/* ///////////////////////////////// ALINIAMIENTO ///////////////////////////////// */

.left-align{text-align: left;}

.center-align{text-align: center;}

.right-align{text-align: right;}

/* ///////////////////////////////// MARGENES ///////////////////////////////// */

.margin20v{margin: 20px 0;}

.margin10r{margin-right: 10px;}

.margin10l{margin-left: 10px;}

.margin50h10v{margin: 10px 50px;}

/* ///////////////////////////////// LINKS ///////////////////////////////// */

.link{
  font-size: 12px;
  text-align: center;
}

.link a{
  color: #52B788;
}

/* ///////////////////////////////// INPUTS ///////////////////////////////// */

.input-field{
  margin: 15px 0;
}

.input-field *{
  width: 100%;
  box-sizing: border-box;
}

.input-field label{
  margin-left: 5px;
}

.input-field small{
  margin-left: 5px;
}

.input-neutral{
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  background-color: gainsboro;
  border: solid 2px gainsboro;
}

.input-neutral:focus{
  outline: none;
}

.input-date{
  margin: 5px 3px 0 0;
  padding: 11px;
  border: solid 2px gainsboro;
  border-radius: 10px;
  background-color: gainsboro;
}

#dateErrorMsg {
  margin-left: 5px;
}

.input-date:focus{
  outline: none;
}

.input-neutral-selected{
  border: solid 2px gray;
}

.input-success{
  border: solid 2px #52B788;
  background-color: #B7E4C7;
}

.input-error-selected{
  border: solid 2px #EF233C;
}

.input-error{
  border: solid 2px #EF233C;
  background-color: #F9B3BB;
}

.error-msg{
  color: #EF233C;
}

.hide-error-msg{
  visibility: hidden;
}

/* ///////////////////////////////// BOTONES ///////////////////////////////// */

.button{
  background-color: #52B788;
  padding: 10px 25px;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid #52B788;
  outline: none;
  color: white;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;

}

.button:hover{
  background-color: #429E73;
  border: 1px solid #429E73;
}

.outline-button{
  background-color: white;
  padding: 10px 25px;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid #52B788;
  outline: none;
  color: #52B788;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: border 0.3s, background-color 0.3s, color 0.3s;
}

.outline-button:hover{
  border: 1px solid #429E73;
  background-color: #429E73;
  color: white;
}



.h2mod h2{
  padding: 0px;
  margin: 0px;
}


/* ///////////////////////////////// CAJAS ///////////////////////////////// */



.largebox{
  width: 800px;
}

.doublebox{
  display: flex;
}

.leftbox{
  width: 100%;
  padding-right: 15px;
}


.rightbox{
  width: 100%;
  padding-left: 15px;
}

/* ///////////////////////////////// LOGIN ///////////////////////////////// */

/* ///////////////////////////////// HEADER ///////////////////////////////// */

.header{
  width: 100%;
  height: 70px;
  background-color: white;
}
.navbar{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}



.logo{
  width: 200px;
}




















/* .subbox h2{
  padding: 15px 0;
} */



/* .subbox input{
  display: block;
  width: 100%;
  margin: 10px 0;
  border: none;
  outline: none;
  padding: 10px 5px;
  border-radius: 10px;
  background-color: gainsboro;
} */



